* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .main {
  background-color: #EEEEEE;
} */

.main2 {
  background-color: #fff;
}

.form {
  background-color: #EEEEEE;
}

p {
  display: inline-block;
}